extends skeleton
block content
	h1 What would you like to do?
	div.row
		div.col-md-8
			ul.nav.nav-stacked.nav-pills
				li
					a(href="/c") View a change
		div.col-md-4.text-center
			img(src="https://upload.wikimedia.org/wikipedia/commons/4/4d/Gerrit_icon.svg",height="200px")
